<h2 class="page-header">渠道售后培训</h2>
<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-sticky-note"></i>

                <h3 class="box-title">退款审单</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <a href="/Pages/train/WFHTK.html" target="_blank">
                        <h4><i class="icon fa fa-bars"></i> 未发货退款处理</h4>
                        本课件主要讲述如何一步一步的处理未发货退款申请。
                    </a>
                </div>
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <a href="/Pages/train/YFHTK.html" target="_blank">
                        <h4><i class="icon fa fa-info"></i> 已发货退款处理</h4>
                        本课件主要讲述如何一步一步的处理已发货退款申请。
                    </a>
                </div>
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <a href="/Pages/train/THTK.html" target="_blank">
                        <h4><i class="icon fa fa-sign-out"></i> 退货退款处理</h4>
                        本课件主要讲述如何一步一步的处理退货退款申请。
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->

    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-bullhorn"></i>

                <h3 class="box-title">工单投诉相关</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="callout callout-danger">
                    <a href="/Pages/train/AACC.html" target="_blank">
                        <h4>AACC工单系统操作培训</h4>
                        <p>本课件主要描述如何使用AACC工单系统，一步一步的指导你熟悉AACC系统的操作</p>
                    </a>
                </div>

                <div class="callout callout-warning">
                    <a href="/Pages/train/LCSXTPX.html" target="_blank">
                        <h4>LCS工单系统培训</h4>
                        <p>本教程主要通过一步一步的指导，让你熟悉LCS工单系统的操作</p>
                    </a>
                </div>
                <div class="callout callout-info">
                    <a href="/Pages/train/LCSJDGF.html" target="_blank">
                        <h4>LCS工单创建规范</h4>
                        <p>本教程主要通过实际创建工单的过程来演示工单创建的规范</p>
                    </a>
                </div>
                <div class="callout callout-success">
                    <a href="/Pages/train/KXSTL.html" target="_blank">
                        <h4>开箱损处理培训</h4>
                        <p>本教程主要通过实际案例的演示，来指导你熟悉开箱损的处理操作</p>
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
